body {
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 15px;
    margin: 0px auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Container
================*/

.container {
    width: 100%;
    max-width: 1222px;
    margin: 0px auto;
}

.portfolio__container {
    width: 100%;
    max-width: 1102px;
    margin: 0px auto;
}

.partners__container {
    width: 100%;
    max-width: 745px;
    margin: 0px auto;
}

/* Intro
================*/

.intro {
    width: 100%;
    height: 100vh;
    background: url('/img/intro/back.png');    
}

.itro__logo {
    display: flex;
    margin: 0 auto;
    padding-top: 170px;    
}

.intro__text {
    text-align: center;
    padding-top: 65px;
    padding-bottom: 52px;
}

.intro__title {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    font-weight: 900;
}

.intro__subtitle {
    font-size: 24px;
    letter-spacing: 0.085em;
    font-weight: 400;
}

.intro__line {
    background-color: #fff;
    width: 105px;
    height: 2px;
    margin: 0 auto;
}

.intro__button {
        display: block;
        font-size: 17px;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 17px 47px;
        border: 1px solid #fff;
        width: 238px;
        transition: all 0.5s ease;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin: 0 auto;
        margin-top: 230px;
}

.intro__button:hover {
    background: #fff;
    color: rgba(61, 86, 176, 0.624);
}

.intro__arrow {
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

/* Content
================*/

.content {
    background-color: #fff;
   
    padding-top: 1px;
}

.menu {
	display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu li a {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
    text-decoration: none;
    color: rgb(95, 95, 95);

}

.menu li a:hover {
	color: rgb(195, 186, 157);
}

.menu li {
	margin-right: 50px;
}

.content__line {
    background-color: rgba(195, 186, 157, 0.75);
    width: 100%;
    height: 1px;
    margin: 0 auto;
}

/* About
================*/

.about {
    margin-top: 130px;
    background-color: #fff;
    color: black;
    height: 60vh;
}

.about__intro {
    display: flex;
    font-size: 34px;
    justify-content: center;
    text-transform: uppercase;
}

.about__line {
    background-color: rgb(0, 0, 0);
    width: 105px;
    height: 2px;
    margin: 0 auto;
}

.about__text {
    text-align: center;
    width: 900px;
    font-weight: 300;
    margin: auto;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 70px;
    color: rgb(195, 186, 157);
}

.about__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-about {
   text-align: center;
}

.item-about__text {
    color: rgb(195, 186, 157);
    font-weight: 300;
    width: 300px;
}

/* PORTFOLIO
================*/

.portfolio {
    height: 172vh;
    background-color: #f3f3f3;
}

.portfolio__intro {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 10px;
    color: black;
}

.portfolio__line {
    background-color: rgb(0, 0, 0);
    width: 105px;
    height: 2px;
    margin: 0 auto;
}

.portfolio__content {

   
    padding-top: 30px;
    padding-bottom: 50px;
}

.portfolio__warp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio__colum {
    margin-top: 20px;
}

.portfolio__button {
    display: block;
        font-size: 17px;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 17px 47px;
        border: 1px solid rgb(0, 0, 0);
        width: 238px;
        transition: all 0.5s ease;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin: 0 auto;
        margin-top: 65px;
}

/* Partners
================*/

.partners {
    background: url('/img/partners/back.png') ;
    height: 40vh;
    padding: 1px 0px 0px 0px;
}

.partners__intro {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 35px;
    color: rgb(255, 255, 255);
    font-weight: 390;
}

.partners__warp {
    display: flex;
    justify-content: space-evenly;
}

/* Contact
================*/

.contact {
    height: 70vh;
}

.contact__intro {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 10px;
    color: black;
}

.contact__line {
    background-color: rgb(0, 0, 0);
    width: 105px;
    height: 2px;
    margin: 0 auto;
}

.contact__body {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.contact__name {
    color: black;
    margin-bottom: 30px;
    font-weight: 900;
}

.contact__span {
    font-weight: 900;
}

.contact__text {
    color: black;
    width: 290px;
    margin-bottom: 40px;
}

.contact__email {
    color: black;
    margin-top: 15px;
}

.contact__left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 380px;
}

.form__title {
    color: black;
    font-size: 14px;
}

.form__input {
    height: 40px;
    width: 160px;
    border-top: 1px solid black;
    border-right: #fff;
    border-left: #fff;
    border-bottom: #fff;
    background-color: #f8f7f7;
}

.form__input__mes {
    height: 120px;
    width: 380px;
    border-top: 1px solid black;
    border-right: #fff;
    border-left: #fff;
    border-bottom: #fff;
    background-color: #f8f7f7;
}

.contact__send {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    display: flex;
    margin-left: auto;
    margin-top: 40px;
    font-weight: 700;
}

/* Footer
================*/

footer {
    background-color: #3c3c3c;
    height: 35vh;
}

.footer__img {
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
}

.footer__text {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #666565;
    font-weight: normal;
}

.footer__content {
    padding-top: 45px;
}
.footer__menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}



.footer__menu li a {
	font-size: 14px;
	letter-spacing: 0.1em;
    text-decoration: none;
    color: rgb(179, 177, 177);

}

.footer__menu li a:hover {
	color: rgb(195, 186, 157);
}

.footer__menu li {
	margin-right: 25px;
}

/* Responsive starts here */

@media screen and (max-width: 1080px) {
	.portfolio__warp {
        display: flex;
        justify-content: center;
    }
    .portfolio {
        height: 290vh;
    }
}

@media screen and (max-width: 910px) {
	.about__text {
        width: 616px;
    }
    .about__row {
        display: flex;
        flex-wrap: wrap;
    }
    .about {
        height: 80vh;
    }
}

@media screen and (max-width: 680px) {
	.contact__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact {
        height: 85vh;
    }
}

@media screen and (max-width: 625px) {
	.about {
        height: 102vh;
    }
    .about__text {
        width: 406px;
    }
}

@media screen and (max-width: 550px) {
	.portfolio__img {
        height: 300px;
        width: 402px;
    }

    .portfolio {
        height: 255vh;
    }
}